{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h4><i class="bi bi-person-gear"></i> Patient Information</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Age</label>
                            {{ form.age }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            {{ form.gender }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Blood Group</label>
                            {{ form.blood_group }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            {{ form.address }}
                        </div>
                        <button class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
